<mat-grid-list cols="2" rowHeight="2:1" gutterSize="12px" >
           <!--<span class="row mt-1 ">
                  <h3 class="formTitle">Photos</h3>
                  
                  <input id="choisirFichier" type="file" #fileUploader accept="image/*" (change)=showImgPreview($event) formControlName="imgUrl" name="image" autocomplete="off"/>
                </span>-->
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>

<label>
    <input
      multiple
      type="file"
      class="text-nowrap text-truncate"
      (change)="selectFile($event)"
      access=".png,.jpg"
    />
</label>
  
  <button
    class="btn btn-success btn-sm"
    [disabled]="!selectedFiles"
    (click)="uploadMultipleFiles()"
  >
    Upload
  </button>
  
  <div *ngIf="currentFileUpload" class="progress mt-2">
    <div
      class="progress-bar progress-bar-info"
      role="progressbar"
      attr.aria-valuenow="{{ percentage }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: percentage + '%' }"
    >
      {{ percentage }}%
    </div>
  </div>

 