.formTitle{
    font-weight: 600;
}

.mandatoryMsg{
    font-size: 14px;
    font-weight: 500;
}

#imgPreview{
    margin-left: 1rem;
    padding: 10px;
    height: 150px;
    width: 200px;
    cursor: pointer;
    border: dotted black 1px;
}

#choisirFichier{
    margin-top: 2px;
}